<button id={{id}} class='project'>
	<h3>{{project_name}}</h3>
	<p>{{caption}}</p>
	{{!-- <ul>
		{{#each reactions as |reaction|}}
			<li>{{type}}</li>
		{{/each}}
	</ul> --}}
	<p>{{reaction_count_string reactions}}</p>
	{{> reaction_buttons}}
</button>