<div class="reaction-buttons" data-id='{{project.id}}'>
    {{{button_thumbs project.reactions userId}}}
    {{{button_stars project.reactions userId}}}
    {{{button_heart project.reactions userId}}}
    {{{button_bullseye project.reactions userId}}}
</div>