<div class='project'>
	<a href='/project/{{id}}' data-id='{{id}}'>
		<h3 class='project-name'>{{project_name}}</h3>
		<p>{{caption}}</p>
		<p class='date'>Updated: {{format_date updatedAt}}</p>
	</a>
		{{> reaction_buttons loggedInUser=loggedInUser}}
	<span class="project-user">
		<a href="/profile/{{user.id}}" rel="author">
			<img class="profile-image-nav" src="{{user.profile_image_link}}" alt="">
			{{user.name}}
		</a>
	</span>
</div>