<div class="reaction-buttons" data-id='{{id}}'>
    {{{button_thumbs reactions loggedInUser}}}
    {{{button_stars reactions loggedInUser}}}
    {{{button_heart reactions loggedInUser}}}
    {{{button_bullseye reactions loggedInUser}}}
</div>