<div class="reaction-buttons" data-id='{{id}}'>
    {{{button_thumbs reactions user_id}}}
    {{{button_stars reactions user_id}}}
    {{{button_heart reactions user_id}}}
    {{{button_bullseye reactions user_id}}}
</div>