<div class='row'>
	<div class='col-auto profile-title'>
		<img class="profile-image-nav" src="{{profile_image_link}}" alt="">
		<h2>Welcome, {{name}}!</h2>
	</div>
	<a href="/profile/{{userId}}"><button class="btn btn-primary">View Profile</button></a>
</div>
<div class="profile_container">
	<h3>Add a new profile picture</h3>
	<form action="#" id="profile-form">
		<input type="file" name="profile-picture" id="profile-picture">
		<button type='submit' class='btn btn-primary'>Submit</button>
	</form>
	<div id="profile-preview"></div>
</div>


<div class="socials-container">
	<h3 class="social-title">Socials</h3>
	{{#if socials}}
	{{#each socials as |social|}}
	{{> socialCard}}
	{{/each}}
	{{/if}}
	<!-- Creat new social links-->
	<div id="add-socials">
		<button class="social-btn social-add">+</button>
	</div>
</div>

	
<div class="projects-container">
	<h3><a href='/create'>Add a Project</a></h3>
	{{#if projects.length}}
	<div class='col-md-6 project-list'>
		<h3>Current Projects:</h3>
			{{#each projects as |project|}}
				<div class='row mb-2'>
					<div class='col-md-8'>
						<h4><a
								href='/project/{{project.id}}'
							>{{project.project_name}}</a></h4>
					</div>
					<div class='col-md-4'>
						<button
							class='btn btn-sm btn-danger'
							data-id='{{project.id}}'
						>DELETE</button>
					</div>
				</div>
			{{/each}}
		</div>
	{{/if}}
</div>

<script src='./js/profile.js'></script>